.quiz-page {
  background-image: url("https://i.pinimg.com/originals/ae/82/55/ae82558bfc6795c6c5566a1193ce6af4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  height: 80vh;
  width: 80%;
  border: 5px solid white;
  background-color: rgba(27, 7, 53, 0.959);
}
.top-detail-bar {
  height: 10%;
  padding-left: 20px;
  color: white;
  border-bottom: 2px solid;
}
.top-search-bar {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 95%;
  margin-left: auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-right: auto;
  border-bottom: 2px solid white;
  align-items: center;
}
.top-search-bar > input {
  outline: none;
  border: none;
  border-radius: 35px;
  padding-left: 25px;
  height: 50px;
  width: 20%;
  background-color: rgba(76, 31, 136, 0.493);
  color: white;
}
input::placeholder {
  color: rgb(238, 237, 237);
  opacity: 1; /* Firefox */
}

.top-search-bar > select {
  outline: none;
  border: none;
  border-radius: 35px;
  padding-left: 25px;
  margin-left: 10px;
  height: 50px;
  width: 20%;
  background-color: rgba(76, 31, 136, 0.493);
  color: white;
}
select[multiple] option {
  background-color: rgba(76, 31, 136, 0.493);
  color: white;
}

.btn-enter {
  background-color: rgba(124, 88, 172, 0.493);
  border-radius: 35px;
  box-sizing: border-box;
  height: 50px;
  width: 20%;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(238, 237, 237);
  text-transform: uppercase;
}

.quiz-section {
  height: 85%;
}
.quiz-section-main {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
}
.quiz-section-left {
  width: 30%;
  height: 100%;
}
.quiz-section-right {
  width: 70%;
  height: 100%;
}
.quiz-left-upper {
  width: 100%;
  height: 50%;
  padding-right: 20px;
  margin-top: 5px;
  border-top: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
}
.quiz-left-lower {
  width: 100%;
  height: 40%;
  border-right: 3px solid;
  padding-right: 20px;
}

.detail-div {
  border: 1px solid;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
}
.quiz-counter {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 2px;
  max-height: 100%;
  overflow: scroll;
}
.count {
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 5px;
  border: 1px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.quiz-right-inner {
  height: 100%;
  width: 100%;
}
.quiz-question {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-question p {
  width: 80%;
  text-align: center;
  font-size: 24px;
}
.quiz-option {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-option > div {
  width: 80%;
}
.quiz-option-div {
  outline: none;
  border: 2px solid rgba(238, 237, 237, 0.247);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.active {
  background-color: rgba(124, 88, 172, 0.493);
}
.radio {
  border: 1px solid;
}
.quiz-action {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-action div {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.btn-next {
  background-color: rgba(109, 38, 138, 0.493);
  box-sizing: border-box;
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  color: rgb(238, 237, 237);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-skip {
  background-color: rgba(109, 38, 138, 0.493);
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  color: rgb(238, 237, 237);
  text-transform: uppercase;
}

.quiz-result {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.quiz-result table {
  color: white;
  margin-top: 20px;
  width: 80%;
  max-height: 200px;
  /* border: 1px solid; */
  text-align: center;
  overflow: scroll;
}
.quiz-result table thead tr td {
  font-size: 18px;
  border: 1px solid;
  height: 40px;
}
.quiz-result table thead th {
  border: 1px solid;
  height: 40px;
  padding: 5px 10px;
  background-color: rgba(95, 52, 196, 0.671);
}
.quiz-result table tbody tr td {
  border: 1px solid;
  height: 40px;
  padding: 5px 10px;
}

.quiz-result table tbody tr:nth-child(even) {
  background-color: #363d97af;
}

.quiz-complete-result {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  max-height: 80%;
}
.quiz-result-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}
.quiz-result-table {
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
  width: 80%;
  overflow: scroll;
}
.quiz-result-table table {
  color: white;
  /* margin-top: 20px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  border: 1px solid;
  text-align: center;
}

.quiz-result-table table thead tr th {
  font-size: 18px;
  border: 1px solid;
  height: 30px;
}
.quiz-result-tablet table thead th {
  border: 1px solid;
  height: 40px;
  padding: 5px 10px;
  background-color: rgba(95, 52, 196, 0.671);
}
.quiz-result-table table tbody tr td {
  border: 1px solid;
  height: 20px;
  padding: 5px 10px;
}

.quiz-result-table table tbody tr:nth-child(even) {
  background-color: #363d97af;
}
.footer-table {
  height: 40px;
}
.submit-btn-div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.btn-finish {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(109, 38, 138, 0.493);
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  color: rgb(238, 237, 237);
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
